<!-- Add -->
<div class="modal fade" id="addnew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Add Employee</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form12" action="/employee/add" method="post">
                   
                    <div class="form-group">
                    
                        <div class="col-sm-9">
                            <input type="hidden" class="form-control" id="emp_id" name="emp_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">Firstname</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstname" name="firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-3 control-label">Lastname</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastname" name="lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address</label>

                        <div class="col-sm-9">
                            <textarea class="form-control" name="address" id="address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datepicker_add" class="col-sm-3 control-label">Birthdate</label>

                        <div class="col-sm-9">
                            <div class="date">
                                <input type="date" class="form-control" id="datepicker_add" name="birthdate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-sm-3 control-label">Contact</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-3 control-label">Gender</label>

                        <div class="col-sm-9">
                            <select class="form-control" name="gender" id="gender">
                                <option value="" selected>- Select -</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-3 control-label">Job Type</label>

                        <div class="col-sm-9">
                            <select class="form-control" name="job_type" id="job_type">
                                <option value="" selected>- Select -</option>
                                <option value="Web Developer">Web Developer</option>
                                <option value="Android Developer">Android Developer</option>
                                <option value="Fullstack Developer">Fullstack Developer</option>
                                <option value="UI/UX Developer">UI/UX Developer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-sm-3 control-label">Position</label>

                        <div class="col-sm-9">
                            <select class="form-control" name="position" id="position">
                                <option value="" selected>- Select -</option>
                                <option>Intern</option>
                                <option>Employee</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datepicker_join" class="col-sm-3 control-label">Joining Date</label>

                        <div class="col-sm-9">
                            <div class="date">
                                <input type="date" class="form-control" id="datepicker_join" name="joining_date">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datepicker_join" class="col-sm-3 control-label">Leaving Date</label>

                        <div class="col-sm-9">
                            <div class="date">
                                <input type="date" class="form-control" id="datepicker_join" name="leaving_date">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-sm-3 control-label">Salary</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contact" name="salary">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i
                                class="fa fa-close"></i> Close</button>
                        <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i>
                            Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit -->
<% for (let i=0; i<result.length; i++) {%>
    <div class="modal fade" id="edit_employee<%=result[i].id%>">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><b><span class="employee_id" style="text-transform: uppercase;">
                        <%= result[i].emp_id  %>
                            </span></b></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="POST" action="/employee/edit">
                        <input type="hidden" class="empid" name="id" value="<%=result[i].id%>">
                        <div class="form-group">
                            <label for="edit_firstname" class="col-sm-3 control-label">Firstname</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="edit_firstname" name="firstname"
                                    value="<%= result[i].FirstName %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_lastname" class="col-sm-3 control-label">Lastname</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="edit_lastname" name="lastname"
                                    value="<%= result[i].LastName %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_address" class="col-sm-3 control-label">Address</label>

                            <div class="col-sm-9">
                                <textarea class="form-control" name="address" id="edit_address" ><%= result[i].Address  %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datepicker_edit" class="col-sm-3 control-label">Birthdate</label>

                            <div class="col-sm-9">
                                <div class="date">
                                    <input type="date" class="form-control" id="datepicker_edit" name="birthdate"
                                        value="<%=result[i].Birthdate%>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_contact" class="col-sm-3 control-label">Contact</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="edit_contact" name="contact"
                                    value="<%=result[i].Contact%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_gender" class="col-sm-3 control-label">Gender</label>

                            <div class="col-sm-9">
                                <select class="form-control" name="gender" id="edit_gender">
                                    <option ><%=result[i].Gender%></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_gender" class="col-sm-3 control-label">Job Type</label>
    
                            <div class="col-sm-9">
                                <select class="form-control" name="job_type" id="edit_job_type" >
                                    <option><%=result[i].JobType%></option>
                                    <option value="Web Developer">Web Developer</option>
                                    <option value="Android Developer">Android Developer</option>
                                    <option value="Fullstack Developer">Fullstack Developer</option>
                                    <option value="UI/UX Developer">UI/UX Developer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_position" class="col-sm-3 control-label">Position</label>

                            <div class="col-sm-9">
                                <select class="form-control" name="position" id="edit_position"
                                    >
                                    <option><%=result[i].Position%></option>
                                    <option>Intern</option>
                                    <option>Employee</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datepicker_edit1" class="col-sm-3 control-label">Joining_Date</label>

                            <div class="col-sm-9">
                                <div class="date">
                                    <input type="date" class="form-control" id="datepicker_edit1" name="joining_date"
                                        value="<%=result[i].Joining_Date%>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datepicker_join" class="col-sm-3 control-label">Leaving Date</label>
    
                            <div class="col-sm-9">
                                <div class="date">
                                    <input type="date" class="form-control" id="datepicker_join" name="leaving_date">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit_salary" class="col-sm-3 control-label">Salary</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="edit_salary" name="salary"
                                    value="<%=result[i].Salary%>">
                            </div>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i
                            class="fa fa-close"></i> Close</button>
                    <button type="submit" class="btn btn-success btn-flat" name="edit"><i
                            class="fa fa-check-square-o"></i> Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%}%>


        <!-- Delete -->
        <% for (let i=0; i<result.length; i++) {%>
            <div class="modal fade" id="delete_employee<%=result[i].id%>">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><b>Deleting...</b></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <input type="hidden" class="decid" name="id" value="<%=result[i].id%>">
                                <div class="text-center">
                                    <p>DELETE DEDUCTION</p>
                                    <h2 id="del_deduction" class="bold">
                                        <%=result[i].FirstName%>
                                            <%=result[i].LastName%>
                                    </h2>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i
                                    class="fa fa-close"></i> Close</button>
                            <a href="/employee/delete/<%=result[i].id%>"><button type="button"
                                    class="btn btn-danger btn-flat"><i class="fa fa-trash"></i> Delete</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>