<% include ./header %>

  <body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
   

      <!-- Content Header (Page header) -->
      <div class="content-wrapper" style="min-height: 645px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
              Payroll
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Payroll</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
                <div class="row">
            <div class="col-xs-12">
              <div class="box">
               
                <div class="box-body">
                  <form action="/payroll/add" method="post">
                  <table id="payroll_table" class="table table-bordered">
                    <thead>
                      
                        <th >Employee ID</th>
                        <th >Name</th>                       
                        <th >Total Days</th>
                        <th> Payble Days</th>
                        <th >Gross Salary</th>
                        <th >Allowance</th>
                        <th >Overtime</th>
                        <th >Issue Date</th>
                        <th >Deduction</th>
                        <th> Net Salary</th>
                        <th> Tools</th>
                    </thead>
                    <tbody> 
                      <% for (let i=0; i<result.length; i++) {%> 
                        <tr>  
                                  
                          <td style="text-transform:uppercase ;"><%= result[i].emp_id %></td>
                          <td><%= result[i].FirstName  %> <%= result[i].LastName  %></td>
                          <td id="days"><%= result[i].Total_Days %></td>
                          <td><%= result[i].Payble_Days %></td>
                          <td><%= result[i].Gross_Salary %></td>
                          <td><%= result[i].Allowance %></td>
                          <td><%= result[i].Overtime%></td>
                          <td><%= result[i].Issue_Date  %></td>
                          <td><%= result[i].Deduction  %></td>
                          <td><%= result[i].Net_salary %></td>
                          <td>
                          <a data-toggle="modal" data-target="#delete_payroll<%=result[i].id%>">
                            <button class="btn btn-danger btn-sm btn-flat" ><i class="fa fa-trash"></i> Delete</button></a></td>
                        </tr>
                        <%}%>                                                                                                                                               
                    </tbody>
                  </table>
                </form>
                </div></div>
                </div>
              </div>
            </div>
          </div>
        </section>   
      </div> 
           
   <% include ./footer %>
   <% include ./payroll_modal %>
   <script>
      function daysInThisMonth() {
    var now = new Date();
    return new Date(now.getFullYear(), now.getMonth()+1, 0).getDate();
    document.getElementById('days').innerHTML=daysInThisMonth;
  }   
   </script>
 </body>