<html lang="eng">

<head>
  <title>Attendance List | </title>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
 
</head>

<body>

  <nav class="navbar navbar-header navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class="navbar-text pull-right">Tech Sparagus</h2>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a href="" class="text-light">log out <i class="fa fa-power-off"></i></a>
      </div>
    </div>
  </nav>
  <div id="sidebar" class="bg-dark">
    <div id="sidebar-field">
      <!-- <a href="home" class="sidebar-item">
          <div class="sidebar-icon"><i class="fa fa-dashboard"> </i></div>  Dashboard
      </a>
       -->

    </div>
    <div id="sidebar-field">
      <a href="" class="sidebar-item active">
        <div class="sidebar-icon"><i class="fa fa-list"> </i></div> Attendance
      </a>
    </div>
    <a href="" class="sidebar-item">
      <div class=""><i class="fa fa-list"> </i></div> payment
    </a>
  </div>

  </div>
  <script>
    $(document).ready(function () {
      var loc = window.location.href;
      loc.split('{/}')
      $('#sidebar a').each(function () {
        // console.log(loc.substr(loc.lastIndexOf("/") + 1),$(this).attr('href'))
        if ($(this).attr('href') == loc.substr(loc.lastIndexOf("/") + 1)) {
          $(this).addClass('active')
        }
      })
    })

  </script>
  <div class="container-fluid admin">
    <div class="alert alert-primary">Attendance List</div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModallabel">

    </div>
    <div class="well col-lg-12">
        
          <form >
            <table id="user_table" class="table table-bordered table-striped dataTable no-footer" role="grid"
          aria-describedby="table_info">
              <thead>
                
                  <th >Employee ID</th>
                  <th> Name</th>
                  <th> Date</th>
                  <th >Time In</th>
                  <th> Time Out</th>
                 
                 
              </thead>
              <tbody> 
                <% for (let i=0; i<result.length; i++) {%>
                  
                  <tr> 
                                    
                    <td ><%= result[i].id %></td>
                    <td><%= result[i].name %></td> 
                    <td><%= result[i].date  %> </td>
                    <td><%= result[i].timein %></td>
                    <td><%= result[i].timeout %></td>
                                    
                    
                  </tr>
                  <%}%>                                                                                                                                          
                    
              </tbody>
            </table>
          </form>

</body>

</html>